**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.coverage
**/coverage.json
**/htmlcov/
**/.venv/
**/venv/
**/.env*
**/.git/
**/.github/
**/.idea/
**/.vscode/
**/*.egg-info/
**/dist/
**/build/
**/stations.yaml
api/tests/
core/tests/
**/docs/
gui/
scripts/
*.md
!api/README.md
!core/README.md
